<!DOCTYPE html>
<html>
    <body>
      <p> <h1> Welcome! This is a Minimal Flask API Endpoint for Data Science Tool. </h1></p>
      <p>The main demo endpoint is here: <a href= "https://endpoint-template.herokuapp.com/demo_post"> https://endpoint-template.herokuapp.com/demo_post </a><p>
      <p>Test a real endpoint <a href="https://colab.research.google.com/drive/1dFsUt2_WVlu2rLUdaku1qLtMVgFn9Gyy?usp=sharing">Here</a> </p>
      <p> <a href="https://colab.research.google.com/drive/1dFsUt2_WVlu2rLUdaku1qLtMVgFn9Gyy?usp=sharing"> https://colab.research.google.com/drive/1dFsUt2_WVlu2rLUdaku1qLtMVgFn9Gyy?usp=sharing </a> </p><br>
      <p>Input & Click the button below to test endpoint 1 function: demo just combines both inputs</p>
        <form action='/test_demo_post' method="post">
            <input type="text" name="input_1" placeholder="Type in input 1 here!">
            <input type="text" name="input_2" placeholder="Type in input 2 here!">
            <input type="submit" value="Let's go!"></form>
            <br>
            <br>
        <p>Click the button below to test endpoint 2 (just example, no endpoint)</p><br>
        <form action="/multiple_terms" method="post">
            <input type="text" name="feature1" placeholder="First column">
            <input type="text" name="terms1" placeholder="What to search in first column">
            <input type="text" name="feature2" placeholder="Second column">
            <input type="text" name="terms2" placeholder="What to search in second column">
            <input type="text" name="offset" placeholder="Offset">
            <input type="text" name="range" placeholder='Range'>
            <input type="submit" value="Let's go!"></form>
            <br>
            <br>
        </form>
    </body>
</html>


<p> Github Repo <a href="https://github.com/lineality/Minimal_Flask_Endpoint_API_for_Data_Science">Here</a> </p>

<p> <a href="https://github.com/lineality/Minimal_Flask_Endpoint_API_for_Data_Science"> https://github.com/lineality/Minimal_Flask_Endpoint_API_for_Data_Science </a> </p><br>
